In [1]:
# importanto bibliotecas
#from math import sin, cos, exp, log, sqrt
from sympy import Derivative, Symbol, diff, cos, sin, exp, sqrt, log, var, tan, atan, pi
import pandas as pd
import dataframe_image as dfi

In [2]:
# Parametros Iniciais
x0 = 1 #valor inicial
a = 1 # intervalo inferior
b = 2 # intervalo superior
N = 100 # numero maximo de ciclos
e = 0.001 # erro admitido
count = 0 # contador

In [3]:
def erro(x, x1, erro = 'abs'): # define o time de erro escolhido
    if erro == 'rel':
        return round(abs((x1 - x) / x1), 7) # retorna erro relativo
    else:
        return round(abs(x1 - x), 7) # retorna erro absoluto

In [4]:
def f(): # define a função que quero encontrar a raiz
    x = Symbol('x')   # definindo x como um simbolo
    y = (x**4 - 44 * x **2)**2 + (-11 * x **3 + 60 * x)**2 - 50 ** 2  * (x**2 + 4) # define a função
    y_der = Derivative(y, x).doit() # calcula a derivada de f(x)
    return(y, y_der)

In [5]:
def newton(x): # define o metodo de newton
    y, y_der = f()
    # calcula o valor da função e da derivada no ponto
    y = y.subs('x', x).evalf()
    y_der = y_der.subs('x', x).evalf()
    return round(x - y/y_der, 6) #retorna xn+1 com 6 casas decimais

In [6]:
x = x0
erro_atual = erro(x, newton(x))
count = 1
tabela = {'n': [1],
          'x': [x],
          'erro': [erro_atual]}

while erro_atual > e and count < N:
    x = newton(x)
    print(x)
    erro_atual = erro(x, newton(x))
    count += 1
    tabela['x'].append(x)
    tabela['erro'].append(erro_atual)
    tabela['n'].append(count)
    
df = pd.DataFrame(tabela)
print(f'Para f(x) = {f()[0]} temos: \n \n {df.iloc[-1]}')
dfi.export(df, 'LISTA2_EXERCICIO1D.png')
df.style

2.694045
2.187391
1.869140
1.754063
1.741288
Para f(x) = -2500*x**2 + (-11*x**3 + 60*x)**2 + (x**4 - 44*x**2)**2 - 10000 temos:

 n               6
x        1.741288
erro    0.0001430
Name: 5, dtype: object