In [8]:
# importanto bibliotecas
#from math import sin, cos, exp, log, sqrt
from sympy import Derivative, Symbol, diff, cos, sin, exp, sqrt, log, var, tan, atan, pi
import pandas as pd
import dataframe_image as dfi

In [9]:
# Parametros Iniciais
x0 = 0.001 #valor inicial
a = 1 # intervalo inferior
b = 2 # intervalo superior
N = 10 # numero maximo de ciclos
e = 0.01 # erro admitido
count = 0 # contador

In [10]:
def erro(x, x1, erro = 'abs'): # define o time de erro escolhido
    if erro == 'rel':
        return round(abs((x1 - x) / x1), 7) # retorna erro relativo
    else:
        return round(abs(x1 - x), 7) # retorna erro absoluto

In [11]:
def f(): # define a função que quero encontrar a raiz
    x = Symbol('x')   # definindo x como um simbolo
    y = 180 + (atan(x/0.5) - atan(x/2) - atan(x/10)) * 180 / pi # define a função
    y_der = Derivative(y, x).doit() # calcula a derivada de f(x)
    return(y, y_der)

In [12]:
def newton(x): # define o metodo de newton
    y, y_der = f()
    # calcula o valor da função e da derivada no ponto
    y = y.subs('x', x).evalf()
    y_der = y_der.subs('x', x).evalf()
    return round(x - y/y_der, 6) #retorna xn+1 com 6 casas decimais

In [13]:
x = x0
erro_atual = erro(x, newton(x))
count = 1
tabela = {'n': [1],
          'x': [x],
          'erro': [erro_atual]}

while erro_atual > e and count < N:
    x = newton(x)
    print(x)
    erro_atual = erro(x, newton(x))
    count += 1
    tabela['x'].append(x)
    tabela['erro'].append(erro_atual)
    tabela['n'].append(count)
    
df = pd.DataFrame(tabela)
print(f'Para f(x) = {f()[0]} temos: \n \n {df.iloc[-1]}')
#dfi.export(df, 'LISTA2_EXERCICIO1D.png')
df.style

-2.244007
10.612608
51.879367
484.422068
33034.023109
149120539.229320
3.03736518196456e+15
1.26013204892552e+30
2.16897302536233e+59
Para f(x) = (-180*atan(x/10) - 180*atan(x/2) + 180*atan(2.0*x))/pi + 180 temos:

 n                          10
x        2.16897302536233e+59
erro    6.42584637465803e+117
Name: 9, dtype: object